
@using BlazorApp1.Components.Pages
<div class="answerModal modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document" style="z-index:1055">
        <div class="modal-content">
            <div class="answerContent modal-body2">
                <input class="answerInput" autocomplete="off" @ref="submitBox" type="search" name="name" @bind="input" placeholder="@RowCategory + @ColumnCategory" @oninput="@(a => { OnInput((string)a.Value); })" />

                <div>
                    @foreach (var state in filteredStates)
                    {
                        <div class="guessOption">
                            <p>@state</p>
                            <button class="btn btn-info guessOptionButton" @onclick="@(t => { @SetInput(state); @Submit(); })">Guess</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @if (ShowBackdrop)
    {
        <div class="modal-backdrop fade show" data-dismiss="modal" @onclick="() => Close()"></div>
    }
</div>

@code {

    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;
    private int categoryNumber;

    [Parameter]
    public EventCallback<(int, string)> IsVisibleChanged { get; set; }

    public string? ColumnCategory { get; set; }
    public string? RowCategory { get; set; }

    [Parameter]
    public List<string>? states { get; set; }

    public string input { get; set; } = "";
    public int index { get; set; } = 0;
    private List<string> filteredStates = new List<string>();
    private ElementReference submitBox;



    public void Show(int index, string columnCategory, string rowCategory)
    {
        this.index = index;
        ColumnCategory = columnCategory;
        RowCategory = rowCategory;
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        input = "";
        StateHasChanged();
        FocusInput();
    }

    public async void FocusInput()
    {
        await Task.Delay(30);
        await submitBox.FocusAsync();
    }

    private bool SetInput(string state)
    {
        input = state;
        filteredStates.Clear();
        return false;
    }

    private void OnInput(string newInput)
    {

        if (states == null)
        {
            states.Clear();
        }

        input = newInput;
        //var modifiedInput = System.Text.RegularExpressions.Regex.Replace(newInput, "^A-Za-z", "");
        //TODO strip characters in list for searching?
        if (input.Length > 1)
        {
            filteredStates = states.FindAll(a => a.Contains(input, StringComparison.InvariantCultureIgnoreCase)).OrderBy(state => state.StartsWith(input, StringComparison.InvariantCultureIgnoreCase)? 0 : 1).ToList();
            if (filteredStates.Count > 4) {
                filteredStates = filteredStates.GetRange(0, 4);
            }
        }
        else
            filteredStates.Clear();
    }

    public void Close()
    {
        input = "";
        filteredStates.Clear();
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }

    private void Submit()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        IsVisibleChanged.InvokeAsync((index, input));
        filteredStates.Clear();
        StateHasChanged();
    }
}