@page "/"
@using BlazorApp1.Components.DB
@using Microsoft.Data.Sqlite
@rendermode InteractiveServer


@if (Categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <CascadingValue Value=@this IsFixed=true
    >
        <Popup @ref="popupRef" IsVisibleChanged="@(args=> onSubmit(args))" />
    </CascadingValue>
    <table class="table">
        <thead>
            <tr>
                <th class="invisible"></th>

                <Category CategoryTitle="@Categories[0]" />
                <Category CategoryTitle="@Categories[1]" />
                <Category CategoryTitle="@Categories[2]" />
            </tr>
        </thead>
        <tbody>
            <tr>
                <Category CategoryTitle="@Categories[3]"/>
                <td @onclick="() => setValue(0)"> <Answer stateParam ="@answers[0]" /></td>
                <td @onclick="() => setValue(1)"> <Answer stateParam="@answers[1]" /></td>
                <td @onclick="() => setValue(2)"> <Answer stateParam ="@answers[2]" /></td>

            </tr>
            <tr>
                <Category CategoryTitle="@Categories[4]" />
                <td @onclick="() => setValue(3)"> <Answer stateParam="@answers[3]" /></td>
                <td @onclick="() => setValue(4)"> <Answer stateParam="@answers[4]" /></td>
                <td @onclick="() => setValue(5)"> <Answer stateParam="@answers[5]" /></td>
            </tr>
            <tr>
                <Category CategoryTitle="@Categories[5]" />
                <td @onclick="() => setValue(6)"> <Answer stateParam="@answers[6]" /></td>
                <td @onclick="() => setValue(7)"> <Answer stateParam="@answers[7]" /></td>
                <td @onclick="() => setValue(8)"> <Answer stateParam="@answers[8]" /></td>
            </tr>
        </tbody>
    </table>
}

@code {
    private Popup popupRef;
    private string[] Categories = new[] { "starts with m", "smaller than 1000 sq miles", "starts with G", "", "5", "6" };
    private string[] answers = new string[] { "", "", "", "", "", "", "", "", "" };
    private List<List<string>> categoriesCorrectAnswers = new List<List<string>>();

    private TestDbContext dB = new TestDbContext();

    public Home()
    {
        this.popupRef = new Popup();
        categoriesCorrectAnswers.Add(new List<string>());
        categoriesCorrectAnswers[0].AddRange(dB.nameStartsWith("M"));

        categoriesCorrectAnswers.Add(new List<string>());
        categoriesCorrectAnswers[1].AddRange(dB.areaSmallerThan(1000));

        categoriesCorrectAnswers.Add(new List<string>());
        categoriesCorrectAnswers[2].AddRange(dB.nameStartsWith("G"));

    }

    private void setValue(int index)
    {
        this.popupRef.Show(index, index.ToString());
    }

    private void onSubmit((int index, string input) a)
    {   

        //TODO check both categories based on index
        if (categoriesCorrectAnswers[0].Contains(a.input.ToLowerInvariant())){
            answers[a.index] = a.input;
        }

    }
}
