@page "/"
@rendermode InteractiveServer


@if (Categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <CascadingValue Value=@this IsFixed=true >
        <Popup @ref="popupRef" />
    </CascadingValue>
    <table class="table">
        <thead>
            <tr>
                <th class="invisible"></th>
                
                <Category CategoryTitle="@Categories[0]" />
                <Category CategoryTitle="@Categories[1]" />
                <Category CategoryTitle="@Categories[2]" />
            </tr>
        </thead>
        <tbody>
            <tr>
                <Category CategoryTitle="@Categories[3]"/>
                <td @onclick="() => setValue(0)"> <Answer stateParam ="@answers[0]" /></td>
                <td @onclick="() => setValue(1)"> <Answer stateParam="@answers[1]" /></td>
                <td @onclick="() => setValue(2)"> <Answer stateParam ="@answers[2]" /></td>

            </tr>
            <tr>
                <Category CategoryTitle="@Categories[4]" />
                <td @onclick="() => setValue(3)"> <Answer stateParam="@answers[3]" /></td>
                <td @onclick="() => setValue(4)"> <Answer stateParam="@answers[4]" /></td>
                <td @onclick="() => setValue(5)"> <Answer stateParam="@answers[5]" /></td>
            </tr>
            <tr>
                <Category CategoryTitle="@Categories[5]" />
                <td @onclick="() => setValue(6)"> <Answer stateParam="@answers[6]" /></td>
                <td @onclick="() => setValue(7)"> <Answer stateParam="@answers[7]" /></td>
                <td @onclick="() => setValue(8)"> <Answer stateParam="@answers[8]" /></td>
            </tr>
        </tbody>
    </table>

}

@code {
    private Popup popupRef;
    private string[] Categories =  new[] {"is Racist", "avg tmp over 75F", "pee pee", "poo poo", "5" ,"6"};
    private string[] answers = new string[] { "","","", "","","", "","","" };

    public Home()
    {
        this.popupRef = new Popup();
    }

    private void setValue(int index)
    {
        this.popupRef.Show("index 1");
    }

    
}
