@page "/"
@using BlazorApp1.Components.DB
@using Microsoft.Data.Sqlite
@rendermode InteractiveServer


@if (Categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <CascadingValue Value=@this IsFixed=true
    >
        <Popup @ref="popupRef" IsVisibleChanged="@(args=> onSubmit(args))" />
    </CascadingValue>
    <div>
        <table style="width:75%; display:inline-block" class="table">
            <thead>
                <tr>
                    <th style="width:25%" class="invisible"></th>

                    <CategoryContainer CategoryTitle="@Categories[0].Name" />
                    <CategoryContainer CategoryTitle="@Categories[1].Name" />
                    <CategoryContainer CategoryTitle="@Categories[2].Name" />
                </tr>
            </thead>
            <tbody>
                <tr>
                    <CategoryContainer CategoryTitle="@Categories[3].Name" />
                    <td style="width:25%;height:25%;" @onclick="() => setValue(0)"> <Answer stateParam="@answers[0]" /></td>
                    <td style="width:25%" @onclick="() => setValue(1)"> <Answer stateParam="@answers[1]" /></td>
                    <td style="width:25%" @onclick="() => setValue(2)"> <Answer stateParam="@answers[2]" /></td>

                </tr>
                <tr>
                    <CategoryContainer CategoryTitle="@Categories[4].Name" />
                    <td style="width:25%" @onclick="() => setValue(3)"> <Answer stateParam="@answers[3]" /></td>
                    <td style="width:25%" @onclick="() => setValue(4)"> <Answer stateParam="@answers[4]" /></td>
                    <td style="width:25%" @onclick="() => setValue(5)"> <Answer stateParam="@answers[5]" /></td>
                </tr>
                <tr>
                    <CategoryContainer CategoryTitle="@Categories[5].Name" />
                    <td style="width:25%" @onclick="() => setValue(6)"> <Answer stateParam="@answers[6]" /></td>
                    <td style="width:25%" @onclick="() => setValue(7)"> <Answer stateParam="@answers[7]" /></td>
                    <td style="width:25%" @onclick="() => setValue(8)"> <Answer stateParam="@answers[8]" /></td>
                </tr>
            </tbody>
        </table>
        <div style=" display:inline-block">
            <p>game number: @gameNumber</p>
            <p>score: @score</p>
            <p>guesses left: @guesses</p>

        </div>
    </div>
}

@code {
    private Popup popupRef;
    private Category[] Categories = new Category[6];
    private string[] answers = new string[] { "", "", "", "", "", "", "", "", "" };
    private List<List<string>> categoriesCorrectAnswers = new List<List<string>>();
    private int score = 900;
    private int guesses = 10;
    private int gameNumber = 1;

    private StateinfoContext dB = new StateinfoContext();
    private TestDbContext dbButBad = new TestDbContext();

    public Home()
    {
        popupRef = new Popup();
        Game todaysGame = dB.Games.Single(b => b.Id == 1);
        Categories[0] = dB.Categories.Single(c => c.Id == todaysGame.Cat1);
        Categories[1] = dB.Categories.Single(c => c.Id == todaysGame.Cat2);
        Categories[2] = dB.Categories.Single(c => c.Id == todaysGame.Cat3);
        Categories[3] = dB.Categories.Single(c => c.Id == todaysGame.Cat4);
        Categories[4] = dB.Categories.Single(c => c.Id == todaysGame.Cat5);
        Categories[5] = dB.Categories.Single(c => c.Id == todaysGame.Cat6);

        categoriesCorrectAnswers.Add(new List<string>());
        categoriesCorrectAnswers[0].AddRange(dbButBad.query(Categories[0].Clause));

        categoriesCorrectAnswers.Add(new List<string>());
        categoriesCorrectAnswers[1].AddRange(dbButBad.query(Categories[1].Clause));

        categoriesCorrectAnswers.Add(new List<string>());
        categoriesCorrectAnswers[2].AddRange(dbButBad.query(Categories[2].Clause));

        categoriesCorrectAnswers.Add(new List<string>());
        categoriesCorrectAnswers[3].AddRange(dbButBad.query(Categories[3].Clause));

        categoriesCorrectAnswers.Add(new List<string>());
        categoriesCorrectAnswers[4].AddRange(dbButBad.query(Categories[4].Clause));

        categoriesCorrectAnswers.Add(new List<string>());
        categoriesCorrectAnswers[5].AddRange(dbButBad.query(Categories[5].Clause));


    }
     
    //popupRef.SetStates(dB.States.ToList().Select(s => s.Name!).ToList());


    private async Task setValue(int index)
    {
        popupRef.Show(index, index.ToString());
        
    }

    private void onSubmit((int index, string input) a)
    {
        var (x, y) = xyFromIndex(a.index);
        var answer = a.input.ToLowerInvariant();

        if (categoriesCorrectAnswers[x].Contains(answer)
        && categoriesCorrectAnswers[y].Contains(answer)
        && !answers.Contains(answer)
        && guesses > 0
        )
        {
            answers[a.index] = a.input;

            //dB.getScore(answer, gameNumber, a.index);
            //dB.updateScore(answer, gameNumber, a.index);
        }
        guesses -= 1;
        if (guesses < 0) guesses = 0;

    }

    private (int, int) xyFromIndex(int index)
    {
        switch (index)
        {
            case 0: return (0, 3);
            case 1: return (1, 3);
            case 2: return (2, 3);

            case 3: return (0, 4);
            case 4: return (1, 4);
            case 5: return (2, 4);

            case 6: return (0, 5);
            case 7: return (1, 5);
            case 8: return (2, 5);
            default: return (0, 0);
        }
    }
}
